main{
    width: 1120px;
    margin: auto;
}

h1{
    margin-top: 40px;
    margin-bottom: 20px;
}

section.class-info{
    text-align: left;
    width: 100%;
    margin-top: 40px;
    border: 2px solid #76C0D1;
    border-radius: 23px;
    padding: 26px;
}

.quizes-list{
    display: flex;
    flex-wrap: wrap;
}

.quizes-list .class-button{
    width: 360px;
    text-align: left;
    margin-top: 20px;
    border-radius: 23px;
    padding: 26px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.class-button.easy, .class-button.easy .play{
    border: 2px solid rgba(78, 185, 126, 0.7);
}
.class-button.medium, .class-button.medium .play{
    border: 2px solid rgba(236, 143, 89, 0.7);
}
.class-button.hard, .class-button.hard .play{
    border: 2px solid rgba(228, 105, 98, 0.7);
}

.class-button.easy .play{
    background-color: rgba(78, 185, 126, 0.1);
}
.class-button.medium .play{
    background-color: rgba(236, 143, 89, 0.1);
}
.class-button.hard .play{
    background-color: rgba(228, 105, 98, 0.1);
}

.class-button.easy .play:hover{
    background-color: rgba(78, 185, 126, 0.2);
}
.class-button.medium .play:hover{
    background-color: rgba(236, 143, 89, 0.2);
}
.class-button.hard .play:hover{
    background-color: rgba(228, 105, 98, 0.2);
}

.class-button .quiz-title{
    display: block;
    margin-bottom: 10px;
}
.class-button .quiz-title{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quizes-list .class-button:hover{
    background-color: rgba(0,0,0,0);
}
.class-info span{
    font-size: 20px;
}
/* #EC8F59 orange
#E46962 red */
@media screen and (width < 1600px){
    .quizes-list .class-button:nth-of-type(3n+2){
        margin-left: 20px;
        margin-right: 20px;
    }
    .quizes-list .class-button:nth-of-type(1n+4){
        margin-top: 20px;
    }
}
@media screen and (width >= 1600px){
    main{
        width: 1500px;
    }

    .quizes-list .class-button:nth-of-type(4n+2){
        margin-left: 20px;
        margin-right: 20px;
    }
    .quizes-list .class-button:nth-of-type(4n+3){
        margin-right: 20px;
    }
    .quizes-list .class-button:nth-of-type(1n+5){
        margin-top: 20px;
    }
}
.play, .ranking, .add-quiz, .edit-users, .new-quiz-link{
    width: 100%;
    border-radius: 13px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    transition: all 0.3s ease-out;
    border: 2px solid rgba(0, 33, 50, 0.3);
    background-color: rgba(0, 33, 50, 0.05);
}
.play, .ranking-link{
    flex: 1;
    width: 100%;
}
.ranking-link{
    flex: 1;
    width: 100%;
}
.new-quiz-link{
    padding: 0;
}
.ranking-link{
    display: block;
}
.ranking{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid rgba(0, 33, 50, 0.3);
    background-color: rgba(0, 33, 50, 0.05);
}
.ranking:hover{
    background-color: rgba(0, 33, 50, 0.1);
}
.quiz-buttons{
    display: flex;
    gap: 20px;
}

.quiz-buttons > form, .quiz-buttons > a {
    flex: 1;
    display: flex;
    min-width: 0;
}

.icon{
    width: 22px;
    height: 22px;
    margin-right: 8px;
}
h3{
    font-size: 24px;
}

.add-quiz, .edit-users{
    border: 2px solid rgba(118, 192, 209, 0.8);
    background-color: rgba(118, 192, 209, 0.1);
}
.add-quiz:hover, .edit-users:hover{
    background-color: rgba(118, 192, 209, 0.25);
}

.class-options{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}

a, a:active, a:hover, a:visited, a:link{
    text-decoration: none;
    color: rgb(0, 33, 50);
}




.user-ranking{
    text-align: left;
    width: 100%;
    margin-top: 40px;
    border: 2px solid #9d9d9d;
    border-radius: 23px;
    padding: 26px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    font-size: 20px;
}
.user-ranking.first-place{
    border: 2px solid #fed555;
    background: #FED555;
    background: linear-gradient(90deg,rgba(254, 213, 85, 0.2) 0%, rgba(254, 213, 85, 0) 90%);
}
.user-ranking.second-place{
    border: 2px solid #a3a3a3;
    background: #A3A3A3;
    background: linear-gradient(90deg,rgba(163, 163, 163, 0.2) 0%, rgba(163, 163, 163, 0) 90%);
}
.user-ranking.third-place{
    border: 2px solid #e3a87c;
    background: #E3A87C;
    background: linear-gradient(90deg,rgba(227, 168, 124, 0.2) 0%, rgba(227, 168, 124, 0) 90%); 
    margin-bottom: 40px;
}
.place-nr{
    display: block;
    width: 50px;
    height: 50px;
}
img.place-nr{
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.75));
}
span.place-nr{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}
.place-user{
    flex: 1;
    margin-left: 20px;
    font-size: 32px;
}
.place-questions{
    margin-left: 40px;
    margin-right: 40px;
}
.center-h2{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}


.lastgame{
    text-align: left;
    width: 100%;
    margin-top: 40px;
    border: 2px solid #9d9d9d;
    border-radius: 23px;
    padding: 26px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    font-size: 20px;
}
.lastgame-finished{
    flex: 1;
    font-size: 32px;
}
.lastgame-questions{
    margin-left: 40px;
    margin-right: 40px;
}
.lose{
    border: 2px solid #e46962;
    background: #E46962;
    background: linear-gradient(90deg,rgba(228, 105, 98, 0.1) 0%, rgba(228, 105, 98, 0) 90%);
}
.win{
    border: 2px solid #4eb97e;
    background: #4EB97E;
    background: linear-gradient(90deg,rgba(78, 185, 126, 0.1) 0%, rgba(78, 185, 126, 0) 90%);
}

.nothing-here{
    font-size: 32px;
    color: #4d4d4d;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}