html, body{
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    
}

input, textarea, button, select {
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(33, 37, 41);
}

main{
    width: 1120px;
    margin: auto;
}

h1{
    margin-top: 40px;
    margin-bottom: 20px;
}

section.class-info{
    text-align: left;
    width: 100%;
    margin-top: 40px;
    border: 2px solid #76C0D1;
    border-radius: 23px;
    padding: 26px;
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}
h2{
    margin: 0 0 8px 0;
    font-size: 2rem;
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
}
.class-info span{
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.quiz-info{
    text-align: left;
    margin-top: 20px;
    border: 2px solid #76C0D1;
    border-radius: 23px;
    padding: 26px;
    transition: all 0.3s ease-in;
}
.quiz-info:focus-within{
    border: 2px solid rgb(58, 106, 116);
}

.class-button.easy, .class-button.easy .play{
    border: 2px solid rgba(78, 185, 126, 0.7);
}
.class-button.medium, .class-button.medium .play{
    border: 2px solid rgba(236, 143, 89, 0.7);
}
.class-button.hard, .class-button.hard .play{
    border: 2px solid rgba(228, 105, 98, 0.7);
}

.class-button.easy .play{
    background-color: rgba(78, 185, 126, 0.1);
}
.class-button.medium .play{
    background-color: rgba(236, 143, 89, 0.1);
}
.class-button.hard .play{
    background-color: rgba(228, 105, 98, 0.1);
}

.class-button.easy .play:hover{
    background-color: rgba(78, 185, 126, 0.2);
}
.class-button.medium .play:hover{
    background-color: rgba(236, 143, 89, 0.2);
}
.class-button.hard .play:hover{
    background-color: rgba(228, 105, 98, 0.2);
}

.class-button .quiz-title{
    display: block;
    margin-bottom: 10px;
}
.class-button .quiz-title{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quizes-list .class-button:hover{
    background-color: rgba(0,0,0,0);
}
.class-info span{
    font-size: 20px;
}
@media screen and (width < 1600px){

}
@media screen and (width >= 1600px){
    main{
        width: 1500px;
    }
}


.class-options{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.quiz-info input.input-h2{
    font-size: 32px;
}

.automatic-row-size {
  width: 100%;
  overflow: hidden;
  resize: none;
  min-height: 40px;
  line-height: 1.5;
  box-sizing: border-box;
}
.quiz-title{
    font-size: 32px;
}
.quiz-element{
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0;
    box-sizing: border-box;
}
.quiz-info legend{
    padding: 0 10px;
    font-size: 20px;
    margin-left: 10px;
    color: #28474e;
}
.quiz-info{
    padding-top: 12px;
    margin-left: 0;
    margin-right: 0;
}
.difficulty{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.difficulty-radio{
    pointer-events: none;
    position: absolute;
    opacity: 0;
}
.difficulty label{
    border-radius: 13px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    box-sizing: border-box;
    width: 100%;
    transition: all 0.3s ease-out;
    cursor: pointer;
    font-size: 20px;
}
.difficulty label.easy{
    border: 2px solid rgba(78, 185, 126, 0.2);
    background-color: rgba(78, 185, 126, 0.05);
}
.difficulty label.medium{
    border: 2px solid rgba(236, 143, 89, 0.2);
    background-color: rgba(236, 143, 89, 0.05);
}
.difficulty label.hard{
    border: 2px solid rgba(228, 105, 98, 0.2);
    background-color: rgba(228, 105, 98, 0.05);
}

.difficulty label.easy:hover{
    background-color: rgba(78, 185, 126, 0.4);
}
.difficulty label.medium:hover{
    background-color: rgba(236, 143, 89, 0.4);
}
.difficulty label.hard:hover{
    background-color: rgba(228, 105, 98, 0.4);
}

.difficulty-radio:checked + label.easy{
    border: 2px solid rgba(78, 185, 126, 0.8);
    background-color: rgba(78, 185, 126, 0.4);
}
.difficulty-radio:checked + label.medium{
    border: 2px solid rgba(236, 143, 89, 0.8);
    background-color: rgba(236, 143, 89, 0.5);
}
.difficulty-radio:checked + label.hard{
    border: 2px solid rgba(228, 105, 98, 0.8);
    background-color: rgba(228, 105, 98, 0.4);
}

.add-margin-top{
    margin-top: 50px;
}
.add-margin-bottom{
    margin-bottom: 64px;
}


.answers{
    display: flex;
    flex-flow: wrap;
    gap: 20px;
    margin-top: 30px;
}

.answers .quiz-answer legend{
    font-size: 16px;
    margin-left: 10px;
    color: #28474e;
}
.answers .quiz-answer{
    flex: 40%;
    text-align: left;
    border-radius: 16px;
    padding: 13px;
    transition: all 0.1s ease-in;
    margin: 0;
}
.answers .quiz-answer textarea{
    font-size: 26px;
}
.quiz-answer.right-answer{
    border: 2px solid rgba(121, 192, 116, 0.4);
    background-color: rgba(121, 192, 116, 0.2);
}
.quiz-answer.wrong-answer{
    border: 2px solid rgba(228, 105, 98, 0.4);
    background-color: rgba(228, 105, 98, 0.05);
}

.quiz-answer.right-answer .legend-wrong{
    display: none;
}
.quiz-answer.wrong-answer .legend-right{
    display: none;
}

.select-right-answer{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select-right-answer span{
    font-size: 20px;
    margin-right: 100px;
}


.abcd{
    flex: 50%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.right-answer-radio{
    pointer-events: none;
    position: absolute;
    opacity: 0;
}
.abcd label{
    border-radius: 13px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    box-sizing: border-box;
    width: 100%;
    transition: all 0.3s ease-out;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid rgba(78, 185, 126, 0.2);
    background-color: rgba(78, 185, 126, 0.05);
}
.abcd label:hover{
    background-color: rgba(78, 185, 126, 0.4);
}
.abcd label:has(.right-answer-radio:checked){
    border: 2px solid rgba(78, 185, 126, 0.8);
    background-color: rgba(78, 185, 126, 0.4);
}












.quiz-info:has(input[value="a"]:checked) .answer-a{
    border: 2px solid rgba(121, 192, 116, 0.4);
    background-color: rgba(121, 192, 116, 0.05);
}
.quiz-info:has(input[value="a"]:checked) .answer-a .legend-wrong{
    display: none;
}
.quiz-info:has(input[value="a"]:checked) .answer-a .legend-right{
    display: block;
}


.quiz-info:has(input[value="b"]:checked) .answer-b{
    border: 2px solid rgba(121, 192, 116, 0.4);
    background-color: rgba(121, 192, 116, 0.05);
}
.quiz-info:has(input[value="b"]:checked) .answer-b .legend-wrong{
    display: none;
}
.quiz-info:has(input[value="b"]:checked) .answer-b .legend-right{
    display: block;
}


.quiz-info:has(input[value="c"]:checked) .answer-c{
    border: 2px solid rgba(121, 192, 116, 0.4);
    background-color: rgba(121, 192, 116, 0.05);
}
.quiz-info:has(input[value="c"]:checked) .answer-c .legend-wrong{
    display: none;
}
.quiz-info:has(input[value="c"]:checked) .answer-c .legend-right{
    display: block;
}


.quiz-info:has(input[value="d"]:checked) .answer-d{
    border: 2px solid rgba(121, 192, 116, 0.4);
    background-color: rgba(121, 192, 116, 0.05);
}
.quiz-info:has(input[value="d"]:checked) .answer-d .legend-wrong{
    display: none;
}
.quiz-info:has(input[value="d"]:checked) .answer-d .legend-right{
    display: block;
}




.question-new{
    width: 100%;
    background-color: transparent;
    border: 2px solid transparent;
    font-size: 18px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    cursor: pointer;
    transition: all 0.2s;
    margin-top: 34px;
    border-radius: 23px;
}
.question-new:hover{
    border: 2px solid rgb(58, 106, 116);
}

.save{
    border-radius: 23px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    box-sizing: border-box;
    width: 100%;
    transition: all 0.3s ease-out;
    cursor: pointer;
    font-size: 20px;
    border: 2px solid rgba(78, 185, 126, 0.2);
    background-color: rgba(78, 185, 126, 0.05);
    margin-top: 64px;
}
.save:hover{
    background-color: rgba(78, 185, 126, 0.4);
}

.question{
    display: flex;
}

.question-buttons{
    margin-left: 26px;
    border-left: 2px solid #76C0D1;
    padding-left: 26px;
    gap: 26px;
    display: flex;
    flex-direction: column;
}
.question-info{
    flex-grow: 1;
}

.question-option{
    height: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    padding: 0px 16px;
    cursor: pointer;
    border-radius: 13px;
    transition: all 0.3s ease-out;
}
.move-up, .move-down{
    border: 2px solid rgba(0, 33, 50, 0.2);
    background-color: rgba(0, 33, 50, 0.05);
}
.move-up:hover, .move-down:hover{
    border: 2px solid rgba(0, 33, 50, 0.4);
    background-color: rgba(0, 33, 50, 0.15);
}

.move-up:disabled, .move-down:disabled{
    border: 2px solid rgba(0, 33, 50, 0.1);
    background-color: rgba(0, 33, 50, 0.01);
    color: rgb(201, 201, 201);
    cursor: default;
}

.move-up:disabled img, .move-down:disabled img{
    opacity: 0.1;
}

.delete{
    color: #d73a45;
    border: 2px solid rgba(228, 105, 98, 0.5);
    background-color: rgba(228, 105, 98, 0.05);
    transition: all 0.3s;
    opacity: 1;
}
.delete:hover{
    border: 2px solid rgba(228, 105, 98, 0.4);
    background-color: rgba(228, 105, 98, 0.15);
}

.question-option img{
    width: 24px;
    height: 24px;
}

.delete, .move-down, .move-up{
    width: 105px;
    box-sizing: border-box;
}
.hidden{
    display: none !important;
}
.delete:disabled{
    cursor: wait;
    opacity: 0.5;
}





@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
@keyframes popIn {
    to {
        transform: scale(1);
    }
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}
.overlay-content{
    background-color: #EEEEEE;
    padding: 50px 100px;
    border-radius: 26px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    transform: scale(0.8);
    animation: popIn 0.3s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 550px;
}

#question-result{
    margin-top: 25px;
}

.img-status{
    width: 70px;
    height: 70px;
}

.quit, .back{
    margin-top: 30px;
    font-size: 20px;
    padding: 20px 50px 20px 50px;
    border: 2px solid rgba(0, 33, 50, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
}
.quit:hover, .back:hover{
    background-color: rgba(0, 33, 50, 0.05);
    cursor: pointer;
}

.quit{
    color: #d73a45;
    border: 2px solid rgba(228, 105, 98, 0.5);
    background-color: rgba(228, 105, 98, 0.05);
    ransition: all 0.3s;
}
.quit:hover{
    border: 2px solid rgba(228, 105, 98, 0.4);
    background-color: rgba(228, 105, 98, 0.15);
}
.img-next{
    width: 20px;
    height: 20px;
    margin-left: 15px;
}
.img-back{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
a, a:active, a:hover, a:visited, a:link{
    text-decoration: none;
    color: rgb(0, 33, 50);
}