body{
    background-color: #EEEEEE;
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;
}
.navbar {
    height: 120px;
    background-image: linear-gradient(to right, #74C9C0, #3BA0D4);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    min-width: 1100px;
}
.nav-section {
    flex: 1;
    display: flex;
}
.nav-section.right {
    justify-content: flex-end;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-logo {
    font-size: 60px;
    color: rgb(0, 33, 50);
    text-align: center;
}
.nav-button {
    display: flex;
    align-items: center;
    border-radius: 15px;
    color: rgb(0, 33, 50);
    font-size: 20px;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}
.left .nav-button {
    padding: 18px 22px 18px 18px;
}
.right .nav-button {
    padding: 12px 12px 12px 22px;
    text-align: right;
}
.nav-button:hover { 
    background-color: rgba(0, 33, 50, 0.2);
}
.show-logout .nav-button{
    background-color: rgba(0, 33, 50, 0.2);
}
.nav-button .icon {
    width: 32px;
    height: 32px;
    margin-right: 18px;
}
.nav-button .profile-img {
    width: 70px;
    height: 70px;
    margin-left: 18px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid rgba(0, 33, 50);
}
.nav-button .logged-as{
    font-size: 16px;
}
.nav-button .logged-user{
    font-size: 24px;
}
.logout-popup {
    position: absolute;
    top: 110%;
    right: 10px;
    background-color: #f8b4b4;
    color: #4a1a1a;
    padding: 15px 25px;
    border-radius: 14px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    gap: 15px;
    white-space: nowrap;
    z-index: 100;
    opacity: 0; 
    transition: opacity 0.3s, transform 0.3s;
    pointer-events: none;
}
.nav-section.right.show-logout .logout-popup {
    opacity: 1;
    pointer-events: auto;
}
.logout-popup::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 40px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f8b4b4;
}
.button-confirm {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: all 0.3s;
}
.button-confirm:hover {
    background-color: #c9302c;
}

footer{
    height: 40px;
    width: 100%;
}