main{
    width: 1120px;
    margin: auto;
}

@media screen and (width < 1600px){
    /* .quizes-list .class-button:nth-of-type(3n+2){
        margin-left: 20px;
        margin-right: 20px;
    }
    .quizes-list .class-button:nth-of-type(1n+4){
        margin-top: 20px;
    } */
}
@media screen and (width >= 1600px){
    main{
        width: 1500px;
    }

    /* .quizes-list .class-button:nth-of-type(4n+2){
        margin-left: 20px;
        margin-right: 20px;
    }
    .quizes-list .class-button:nth-of-type(4n+3){
        margin-right: 20px;
    }
    .quizes-list .class-button:nth-of-type(1n+5){
        margin-top: 20px;
    } */
}
main .quiz-info{
    display: flex;
    margin-top: 30px;
    font-size: 26px;
    color: #002132;
    gap: 20px;
}
.question-nr{
    flex: 2;
}
.help{
    flex: 1;
}
.question-nr, .help{
    border: 2px solid rgba(0, 33, 50, 0.8);
    border-radius: 23px;
    padding: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.help:hover{
    background-color: rgba(0, 33, 50, 0.15);
}
.help:disabled{
    color: rgba(0, 33, 50, 0.3);
    border: 2px solid rgba(0, 33, 50, 0.3);
}
.help-img{
    width: 26px;
    height: 26px;
}
.help:disabled .help-img{
    width: 26px;
    height: 26px;
    opacity: 0.3;
}
.help:disabled:hover{
    background-color: rgba(0, 33, 50, 0);
}
.question{
    border: 2px solid rgba(0, 33, 50, 0.8);
    border-radius: 23px;
    padding: 26px;
    display: flex;
    margin-top: 20px;
    font-size: 26px;
}
.answers{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    flex-wrap: wrap;
}
.answer{
    flex: 40%;
    border-radius: 23px;
    padding: 26px;
    display: flex;
    font-size: 26px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
#answerA{
    border: 2px solid rgba(243, 198, 86, 0.8);
    background-color: rgba(243, 198, 86, 0.1);
    transition: all 0.3s;
}
#answerB{
    border: 2px solid rgba(228, 105, 98, 0.5);
    background-color: rgba(228, 105, 98, 0.1);
    transition: all 0.3s;
}
#answerC{
    border: 2px solid rgba(59, 160, 212, 0.7);
    background-color: rgba(59, 160, 212, 0.1);
    transition: all 0.3s;
}
#answerD{
    border: 2px solid rgba(121, 192, 116, 0.7);
    background-color: rgba(121, 192, 116, 0.1);
    transition: all 0.3s;
}

#answerA:hover{
    background-color: rgba(243, 198, 86, 0.2);
}
#answerB:hover{
    background-color: rgba(228, 105, 98, 0.2);
}
#answerC:hover{
    background-color: rgba(59, 160, 212, 0.2);
}
#answerD:hover{
    background-color: rgba(121, 192, 116, 0.2);
}
#answerA:disabled, #answerB:disabled, #answerC:disabled, #answerD:disabled{
    border: 2px solid rgba(0, 33, 50, 0.5);
    background-color: rgba(0, 33, 50, 0.05);
}
@keyframes blink-animation {
    0% {
        border: 2px solid rgba(0, 33, 50, 0.5);
        background-color: rgba(0, 33, 50, 0.05);
    }
    50% {
        border: 2px solid rgba(243, 198, 86, 0.8);
        background-color: rgba(243, 198, 86, 0.5);
    }
    100% {
        border: 2px solid rgba(0, 33, 50, 0.5);
        background-color: rgba(0, 33, 50, 0.05);
    }
}
#answerA.selected-answer:disabled, #answerB.selected-answer:disabled, #answerC.selected-answer:disabled, #answerD.selected-answer:disabled{
    animation: blink-animation 1s 3;
    cursor: wait;
    color: rgb(0, 33, 50);
}

#answerA.correct-answer:disabled, #answerB.correct-answer:disabled, #answerC.correct-answer:disabled, #answerD.correct-answer:disabled{
    border: 2px solid rgba(121, 192, 116, 0.8);
    background-color: rgba(121, 192, 116, 0.4);
    color: rgb(0, 33, 50);
}

#answerA.wrong-answer:disabled, #answerB.wrong-answer:disabled, #answerC.wrong-answer:disabled, #answerD.wrong-answer:disabled{
    border: 2px solid rgba(228, 105, 98, 0.6);
    background-color: rgba(228, 105, 98, 0.2);
    color: rgb(0, 33, 50);
}


.hidden{
    display: none !important;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
@keyframes popIn {
    to {
        transform: scale(1);
    }
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}
.overlay-content{
    background-color: #EEEEEE;
    padding: 50px 100px;
    border-radius: 26px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    transform: scale(0.8);
    animation: popIn 0.3s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 550px;
}
#overlay-finished{
    background-image: url(../img/congratulations.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.img-status{
    margin-bottom: 30px;
    width: 50px;
    height: 50px;
}

.quit, .next-question{
    margin-top: 30px;
    font-size: 20px;
    padding: 20px 50px 20px 50px;
    border: 2px solid rgba(0, 33, 50, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
}
.quit:hover, .next-question:hover{
    background-color: rgba(0, 33, 50, 0.05);
    cursor: pointer;
}
.img-next{
    width: 20px;
    height: 20px;
    margin-left: 15px;
}
.img-back{
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
a, a:active, a:hover, a:visited, a:link{
    text-decoration: none;
    color: rgb(0, 33, 50);
}